<div id="digital-diary">
<!--<div id="controls" style="text-align:right;">
	<label for="page-number">As on Date:</label> 
         
</div>-->
<div id="book">
	<div class="cover">
            <h1>Digital Diary</h1>
            <h3>2013-14</h3>
        </div>
</div>
</div>