<div id="student-body"></div> 
<div id="student-content-body" style="background: white;margin-top: 3px;height:500px;">
        <div id="quick-links" class="ui-layout-west"></div>
    <div class="ui-layout-center">
            <div id="content-body"></div>

    </div>
    <div id="widget-list" class="ui-layout-east">

    </div>
</div>